# FORMAS DE CONEXAO

# Conexão com Windows Authentication
CONNECTION_STRING=Server=(localdb)\MSSQLLocalDB;Database=GestaoPatrimonios;Trusted_Connection=True;TrustServerCertificate=True

#SQL Server Authentication (usuario e senha)
#CONNECTION_STRING=Server=(localdb)\MSSQLLocalDB;Database=GestaoPatrimonios;User Id=SEU_USUARIO;Password=SUA_SENHA;TrustServerCertificate=True